<!DOCTYPE html>

<html>
<head>
        <meta name="viewport" content="with=device-width, initial-scale = 1.0">
        <title> BookHub </title>
        <link rel="stylesheet" href="../css/home.css">
        <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Fira+Sans:ital,wght@0,100;0,200;0,500;1,300&display=swap" rel="stylesheet">
</head>
<body> 
    <section class="sub-header">
        <nav>
            <a href="home.ejs"><img src="../images/bookhub.png"></a>
            <div class="nav-links">
                <ul>
                    <li><a href="home">HOME</a></li>
                    <li><a href="login">REGISTER/LOGIN</a></li>
                </ul>
            </div>
        </nav>
        <h1>
            ! WE BELIEVE !
            <br>
        </h1>
        <h1> ! In every 60 seconds, a minute passes ! </h1>
        <div class="about-us">
        <h1> About Us </h1>
        <br>
        <p>
        Avinash Aryal(076BEI009) <br>
        Diwas Adhikari(076BEI014)<br>
        Kshitiz Pandey(076BEI019)<br>
        Sunil Adhikari(076BEI043)<br>
        </p>
        </div>

    </section>

</body> 
</html>
