<!DOCTYPE html>

<html>
<head>
        <meta name="viewport" content="with=device-width, initial-scale = 1.0">
        <title> BookHub </title>
        <link rel="stylesheet" href="../css/home.css">
        <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Fira+Sans:ital,wght@0,100;0,200;0,500;1,300&display=swap" rel="stylesheet">
</head>
<body> 
    <section class="header">
        <nav>
            <a href="home"><img src="../images/bookhub.png"></a>
            <div class="nav-links">
                <ul>
                    <li><a href="home">HOME</a></li>
                    <li><a href="login">REGISTER/LOGIN</a></li>
                </ul>
            </div>
        </nav>

        <div class="text-box">
            <h1>BookHub</h1><h2>Node.js API with Sequelize ORM </h2>
            <p>
            <br>Don't Judge a Book By Its Cover
            </p>
            <a href="about" class="hero-btn"> About Us </a>
        </div>
    </section>

</body> 
</html>
